<CascadingValue Value="this">
    @if (NumberPicker == null)
    {
        return;
    }
    else
    {
        int rows = TotalRows();
        int columns = TotalColumns();
        int index = 0;
        @for (int r = 0; r < rows; r++)
        {
            <div>
                @for (int c = 0; c < columns; c++)
                {
                    if (index < NumberPicker.NumberList.Count)
                    {
                        var piece = NumberPicker.NumberList[index];
                        <BasePieceGraphics IsSelected="@piece.IsSelected" CommandParameter="@piece" CommandObject="@NumberPicker.NumberPickedCommand">
                            <NumberPiece DataContext="piece" TextColor="@TextColor" CanHighlight="@CanHighlight" />
                        </BasePieceGraphics>
                        index++;
                    }
                }
            </div>
        }
    }
</CascadingValue>