@inherits BasicGameView<AgnesSolitaireMainViewModel>
@if (DataContext!.DeckPile != null)
{
    <StackLayout>
        <StackItem>
            <DeckOfCardsMultiplePilesBlazor R="SolitaireCard" Piles="@GetMainPiles()" />
        </StackItem>
        <StackItem>
            <LabelGridComponent DataContext="@DataContext" Labels="@_labels" />
            <div>
                <GameButtonComponent CommandObject="@DataContext.AutoMoveCommand" Display="Auto Make Move" />
            </div>
        </StackItem>
        <StackItem>
            
        </StackItem>
    </StackLayout>
    <div>
        <SolitairePilesBlazor MainPiles="@GetWastePiles()" />
    </div>
}