@inherits BasicGameView<BeleaguredCastleMainViewModel>
@if (DataContext!.DeckPile != null)
{
    <LabelGridComponent DataContext="@DataContext" Labels="@_labels" />
    <div>
        <GameButtonComponent CommandObject="@DataContext.AutoMoveCommand" Display="Auto Make Move" />
    </div>
    <div>
        <CustomWasteUI MainPiles="@GetMainPiles()" WastePiles="@GetWastePiles()" />
    </div>
}