@if (Player is null)
{
    <div>No player found</div>
    return;
}
<BaseFrameBlazor Text="@GetWaitingText">
    <GridTwoByTwo ColumnLength="@Columns">
        <GridRepeater TotalColumns="2" TotalRows="2" Context="item">
            <GridItem Column="item.column" Row="item.row">
                <TemporaryBoard HowMany="0"
                                OnChoseColor="WaitingClicked"
                                ImageHeight="@ImageHeight"
                                ColorUsed="GetColor(item.index)" />
            </GridItem>
        </GridRepeater>
    </GridTwoByTwo>
</BaseFrameBlazor>
<div>
    <BaseFrameBlazor Text="@GetHomeText">
        <StackLayout ItemSpacing="0px">
            <SimpleRepeater HowMany="4" Context="index">
                <StackItem Length="@ImageHeight">
                    <SorrySpaceComponent ColorUsed="@Player.Color"
                        ImageHeight="@ImageHeight"
                        HasPiece=false OnClick="PrivateHomeClicked" />
                </StackItem>
            </SimpleRepeater>
        </StackLayout>
    </BaseFrameBlazor>
</div>