@using CommonBasicLibraries.AdvancedGeneralFunctionsAndProcesses.BasicExtensions;
@inherits KeyComponentBase
@if (StartOnNewLine == false)
{
    <button @key="GetKey" class="basicbutton" style="font-size:@FontSize; background-color: @BackgroundColor.ToWebColor(); color: @GetTextColor(); @ExtraInfo() " disabled="@IsDisabled()" @onclick="Submit">@Display</button>
}
else
{
    <div>
        <button @key="GetKey" class="basicbutton" style="font-size:@FontSize; background-color: @BackgroundColor.ToWebColor(); color: @GetTextColor(); @ExtraInfo() " disabled="@IsDisabled()" @onclick="Submit">@Display</button>
    </div>
}