@using CommonBasicLibraries.AdvancedGeneralFunctionsAndProcesses.BasicExtensions;
@if (GameData == null)
{
    return;
}
<BaseFrameBlazor Text="Scoring Guide">
    <GridContainer Rows="@GetRows"  Columns="340px auto">
        <GridItem Style="margin-left: 5px; margin-right: 5px;">
            <div class="boldregular">
                Point Values:
            </div>
        </GridItem>
        @{
            int row = 2;
        }
        @foreach (var score in GameData.Guide1.PointValueList)
        {
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
                @score.Description
            </GridItem>
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row"
                      Column="2">
                @score.Score.ConvertToSpecificStrings(3)
            </GridItem>
            row++;
        }
        <GridItem Style="margin-left: 5px; margin-right: 5px; margin-top: 10px" Row="row">
            <div class="boldregular">
                Value Of Melds:
            </div>
        </GridItem>
        @{ 
            row++;
        }
        <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
            <div class="boldsmaller">
                Class A
            </div>
        </GridItem>
        @foreach (var score in GameData.Guide1.ClassAList)
        {
            row++;
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
                @score.Description
            </GridItem>
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row"
                      Column="2">
                @score.Score.ConvertToSpecificStrings(3)
            </GridItem>
        }
        @{
            row++;
        }
        <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
            <div class="boldsmaller">
                Class B
            </div>
        </GridItem>
        @foreach (var score in GameData.Guide1.ClassBList)
        {
            row++;
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
                @score.Description
            </GridItem>
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row"
                      Column="2">
                @score.Score.ConvertToSpecificStrings(3)
            </GridItem>
        }
        @{
            row++;
        }
        <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
            <div class="boldsmaller">
                Class C
            </div>
        </GridItem>
        @foreach (var score in GameData.Guide1.ClassCList)
        {
            row++;
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row">
                @score.Description
            </GridItem>
            <GridItem Style="margin-left: 5px; margin-right: 5px;" Row="row"
                      Column="2">
                @score.Score.ConvertToSpecificStrings(3)
            </GridItem>
        }
    </GridContainer>
</BaseFrameBlazor>