@using BasicGameFrameworkLibrary.Blazor.GameGraphics.Base
@{
    int x = 0;
}
<div @key="Hand" style="@GetContainerStyle() display:inline-block; margin: 0px;">
    <svg style="@GetSvgStyle()" viewBox="@GetViewBox()">
        @foreach (var item in Hand!.HandList)
        {
            var point = _points[x];
            <FlexibleDeckRenderComponent D="MonopolyCardGameCardInformation" DeckObject="item">
                <svg x="@point.X" y="@point.Y" width="@item.DefaultSize.Width" height="@item.DefaultSize.Height">
                    @ChildContent!(item)
                </svg>
            </FlexibleDeckRenderComponent>
            x++;
        }
    </svg>
</div>